@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1100px;
}

.container header .menu a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border-bottom: 5px solid transparent;
    margin-top: 60px;
    font-size: 17px;
}

.container header .menu a:hover{
    border-bottom: 5px solid #0DF001;
    color: rgb(35, 35, 35);
}

.container header .menu .contacto-op{
    margin-left: 30px;
}

.container .principal{
    display: flex;
    height: 710px;
}

.container .principal .izq-principal{
    float: left;
    width: 40%;
    margin-top: 110px;
}

.container .principal .izq-principal h1{
    font-weight: 600;
    font-size: 70px;
    color: #000000;
}

.container .principal .izq-principal p{
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.container .principal .der-principal{
    float: right;
    width: 55%;
    max-width: 1500px;
    margin-left: 158px;
    height: 614px;
    background-image: url("img/elipse.png");
    background-repeat: no-repeat;
    background-size: 530px;
}

.container .info-portfolio{
    height: 600px;
    width: 90%;
    float: right;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.container .info-portfolio h1{
    font-weight: 600;
    text-align: right;
    font-size: 42px;
    color: #000000;
}

.container .info-portfolio p{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.container .info-portfolio span{
    font-weight: 600;
    text-align: right;
    font-size: 45px;
    color: #0DF001;
}

.container .info-portfolio a{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    border: 2px #000000 solid;
    padding: 12px;
}

.container .info-portfolio a:hover{
    background-color: #000000;
    color: white;
    align-items: center;
    border: 2px #000000 solid;
    padding: 12px;
}

.container footer{
    height: 700px;
}

.container footer .izq-contactame{
    width: 50%;
    float: left;
}

.container footer .izq-contactame h1{
    font-weight: 600;
    font-size: 42px;
    color: #000000;
}

.container footer .izq-contactame a{
    font-size: 19px;
    color: #000000;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    border-bottom: 5px solid transparent;
}

.container footer .izq-contactame a:hover{
    border-bottom: 5px solid #0DF001;
}

.container footer .der-contactame{
    width: 50%;
    float: right;
}

.container footer .der-contactame h3{
    font-size: 30px;
    color: #000000;
}

.container footer .der-contactame h3:hover{
    background-color: #0DF001;
}

.container footer .der-contactame p{
    font-size: 15px;
    color: #000000;
    text-align: justify;
    letter-spacing: 0.5px;
}

.container footer p{
    width: 100%;
    float: left;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

